* {
  margin: 0;
  padding: 0;
  block-size: border-box;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  background-color: white;
}
/* App.css */

.kanban-container {
  display: flex;
}

.kanban-column {
  flex: 1;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  min-height: 200px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.kanban-column h3 {
  margin-top: 0;
  font-size: 18px;
  text-align: center;
}

.kanban-item {
  border: 1px solid #aaa;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 3px;
  cursor: grab;
}
